<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.glassdemo">

    <!-- For free-style voice trigger and voice menus. -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>
<application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@drawable/osi_logo_icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:immersive="true">


    <activity
        android:name=".MainActivity"
        android:label="@string/title_activity_main"
        android:immersive="true">
        <intent-filter>
            <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            <category android:name="com.google.android.glass.category.DIRECTORY" />
        </intent-filter>
        <meta-data
            android:name="com.google.android.glass.VoiceTrigger"
            android:resource="@xml/voice_trigger" />
    </activity>
    <activity android:name=".TestSelect"
        android:exported="true"/>

    <activity android:name=".TaskTimer"
        android:immersive="true"
        android:exported="true"/>

    <activity android:name=".TaskVoice"
        android:exported="true"/>

    <activity android:name=".TaskCamera"
        android:exported="true"/>

    <activity android:name=".TimerIntro"
        android:exported="true"/>

    <activity android:name=".MainTimer"
        android:exported="true"/>

</application>

</manifest>
